<!DOCTYPE html><html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{subject}}</title>
</head>
<body>
<h1 style="color: blue;">{{subject}}</h1>
<p><a href="https://tools.odpch.ch/data_tests/data_tests_dashboard.html">data_tests</a> had these exceptions, failures and/or warnings in the last {{THRESHOLD_HOURS}} hours:
</p>
<hr>
Summary: Affected Tests
<ul>
{{summary}}
</ul>
<hr>
<p>
{{payload}}
</p>
</body>
</html>
