<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles.css">
    <title>Test Dashboard {{ test_name }} at {{ timestamp }}</title>
</head>
<body>
<div class="details">
<div class="header">
    <h1 class="test-name">{{ test_name }}</h1>
    <span class="status-badge status-{{ status }}">{{ status }}</span>
</div>

<div class="timestamp">
    <strong>Time window: </strong> {{ timestamp }}
</div>

<h2>Log Details:</h2>
    {% for run in runs %}
    <div class="run-entry">
        <div>
            <p class="timestamp" style="margin: 0;">Run at {{ run.time }}
                <span class="status-badge status-{{ run.status }}">{{ run.status }}</span>
            </p>
        </div>
        <pre class="content-box">{{ run.content | safe }}</pre>
    </div>
    {% endfor %}
</div>
</body>
</html>